* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    

  }
  html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: #333;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    position: absolute;
    background-color: #f7f7f7;
    padding: 30px;
    width: 100%;
    z-index: 100;

  }
nav{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav a {
  margin: 0 15px;
  color: #000;
  font-weight: 500;
  transition: color 0.5s;  
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}
nav a:hover{
  color: #e91e63;
}
.active{
  color: #e91e63;
}
.logo img {
  width: 100%;
  height: 30px;
  object-fit: contain;
  display: block;
  cursor: pointer;
}
  .grids{
    display: grid;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }  

  aside {
    grid-area: sidebar;
    position: absolute;
    height: 100%;
    background-color: #f7f7f7;
    padding: 24px;
    color: black;
    margin: 0;
  }

  .aside, h1{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: -1rem;

  }
  .cdo {
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .cdo:hover{
    background-color: #e91e63;
    border-radius: 20px;
  }
  .pureF{
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .pureF:hover{
    background-color: #e91e63;
    border-radius: 20px;
  }
  .pureF1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .pureF ul{
    list-style: none;
    padding-left: 0;
  }
  .pureF a{
    text-decoration: none;
    color: inherit;
  }
  .pureF ul a:hover{
    background-color: #e91e63;
    display: block;
    padding: 8px 16px;
  }
  .MomL{
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .MomL:hover{
    background-color:  #e91e63;
    border-radius: 20px;

  }
  .MomL1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .MomL ul {
    list-style: none;
    padding-left: 0;
  }
  .MomL a{
    text-decoration: none;
    color: inherit;
  }
  .MomL  ul a:hover{
    background-color:  #e91e63;
    display: block;
    padding: 8px 16px;
  }
  .Frab{
    position: relative;
    display: inline-block;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }
  .Frab:hover{
    background-color:  #e91e63;
    border-radius: 20px;

  }
  .Frab1{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    column-count: 2;
  }
  .Frab ul{
    list-style: none;
    padding-left: 0;
  }
  .Frab a {
    text-decoration: none;
    color: inherit;
  }
  .Frab1  ul a:hover{
    background-color: #e91e63;
    display: block;
    padding: 8px 16px;
  }
.icondown {
  width: 12px;           
  height: 10px;
  margin-left: 25px;
  vertical-align: middle;
  cursor: pointer;
}
.icondown1 {
  width: 12px;           
  height: 10px;
  margin-left: 47px;
  vertical-align: middle;
  cursor: pointer;
}
.icondown2 {
  width: 12px;           
  height: 10px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}
.icondown3{
  width: 12px;           
  height: 10px;
  margin-left: 50px;
  vertical-align: middle;
  cursor: pointer;
}
.cContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.cContent ul {
  list-style: none;
  padding-left: 0;
}
.cContent a {
  text-decoration: none;
  color: inherit;  
}
.cContent ul a:hover{
  background-color: #e91e63;
  display: block;
  padding: 8px 16px;
}

main {
  grid-area: main;
  background-color: #fff;
  padding: 20px;
}
  .wrap-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
.wrap-box1 {
  margin-top: 2rem;
  padding: 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: auto;
  height: 330px;
  margin-left: auto;
  margin-right: auto;
  border: 2px black solid;
  border-radius: 10px;
  margin-top: 6rem;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
  width: 100%;
}

.mySlides {
  display: none;
  width: 100%;
}

.wrap-box1 img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  border-radius: 8px;
}

button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  transform: translateY(-50%);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

.dots-container {
  text-align: center;
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000;
}

.gos {
  height: 15px;
  width: 15px;
  margin: 0 5px; 
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.gos.active {
  background-color:  #e91e63;
}




.wrap-box div {
  background-color: white;
  color: black;
  border: 2px solid #000;
  padding: 1rem;
  width: 280px;
  flex-wrap: wrap;
  border-radius: 16px;
  text-align: center; 
  transition: all 0.5s ease-out; 
}
.wrap-box div img{
  padding: 15px;
  width: 15.3rem;
  height: 250px; 
  text-align: center;
  border-radius: 1px;
  overflow: hidden;
  box-sizing: border-box;
}
div.desc {
  padding: 15px;
  width: 15.3rem;
  text-align: center;
  border-radius: 1px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.wrap-box div:hover {
  background-color: #f0f0f0;
  transform: scale(1.07);
  transition: all 0.5s ease;
  cursor: pointer;
}
.searchCl {
  border: 1px solid #000;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  height: 35px;     
  right: 50%;
  left: 25%;
  width: 50%;
  top: 15px;
  background-color: #f7f7f7;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 50%;
    left: 25%;
    width: 50%;
    top: 69.1px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
    z-index: 100;
    overflow-y: auto;
}

  .dropdown-content ul {
    list-style: none;
  }
  .dropdown-content a{
    text-decoration: none;
    color: #000;
    
  }
  .dropdown-content li {
    padding: 10px 15px;
    cursor: pointer;
  }
  li.active {
    background-color: #eee;
    cursor: pointer;
  }
  
  
  .dropdown-content li:hover {
    background-color: #e91e63;
  }      
.wrap-box p{
  color: black;
  text-decoration: none;
}
.wrap-box h6{
  color: red;
  text-decoration: none;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;   
}
.LinkB{
  list-style: none;
  text-decoration: none;  
}
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
   
}
